<!-- league table -->


<%#div class="print-all-content print-boxes-league frame-color-shape frame-padding frame-scroller-wrap mobile-text-size"%>
<div class="<%= class_names("print-all-content print-boxes-league frame-color-shape frame-padding frame-scroller-wrap",
  "mobile-text-size": @is_mobile) %>">
  <%#div class="box-width row"%>
  <div class="<%= class_names("row", "mobile-table-width": @is_mobile, "table-width": !@is_mobile) %>">
    <div class="one-liner bold-font">
      <%= render "table_headers" %>
    </div>

    <div class="print-scroller box-scroller" data-toggle-target="togglableElement" >
      <%= render "table_data", user_box_scores: @user_box_scores %>
      <button data-action="click->toggle#scrollToTop" data-toggle-target="topButton"
        class="btn buttons-shape btn-beige top-button d-none">
        <i class="fa-solid fa-up-long"></i>
      </button>
    </div>
  </div>
</div>
