<!-- display the league table in widescreen mode -->

<!-- league-frame and league-container allow overflow-x (horizontal scroll) but kills stickiness
stickiness do not marry well with overflow, solve it with https://uxdesign.cc/position-stuck-96c9f55d9526  -->
<div class="frame-shape frame-padding text-size table-text-size">
<%# <div class="frame-shape frame-padding text-size league-container"> %>
  <div class="same-line justify-content-center align-items-center font-bold sticky-league-table-header">
    <%= render "table_headers" %>
  </div>
  <div class="expand-to-print box-scroller" data-toggle-target="togglableElement" >
    <ol type="1"><%= render "table_data", user_box_scores: @user_box_scores %></ol>
    <button data-action="click->toggle#scrollToTop" data-toggle-target="topButton"
      class="btn buttons-shape btn-blue button-top d-none"><i class="fa-solid fa-up-long"></i>
    </button>
  </div>
</div>
