<!-- partial: league table wrap -->

<div class="<%= class_names("print-all-content print-boxes-league frame-color-shape frame-padding frame-scroller-wrap",
  "mobile-text-size": @is_mobile) %>">
  <div class="<%= class_names("row", "mobile-table-width": @is_mobile, "table-width": !@is_mobile) %>">
    <div class="one-liner bold-font">
      <%# headers %>
      <%= render "table_headers", from: from %>
    </div>

    <div class="print-scroller box-scroller" data-toggle-target="togglableElement" >
      <%# player lines %>
      <%= render "table_data", user_box_scores: @user_box_scores, from: from %>
      <button data-action="click->toggle#scrollToTop" data-toggle-target="topButton"
        class="btn btn-shape btn-beige top-button d-none">
        <i class="fa-solid fa-up-long"></i>
      </button>
    </div>
  </div>
</div>
