// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$orange-light: rgb(246, 137, 79);
$green: #1EDD88;
$gray: #383838;
$light-gray: #F4F4F4;
// $tennis-green: #9cb879;
$tennis-orange: #FFC65A;
$tennis-blue: #336699;
$tennis-aqua: #03897c;
$tennis-beige: #e5c898;
$tennis-red: #c60407;

// Color variants for better contrast
$tennis-blue-dark: darken($tennis-blue, 10%);
$tennis-blue-light: lighten($tennis-blue, 15%);
$tennis-aqua-dark: darken($tennis-aqua, 10%);
$tennis-aqua-light: lighten($tennis-aqua, 10%);
