// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$orange-light: rgb(246, 137, 79);
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$tennis-green: #9cb879;
$tennis-blue: #336699;
$tennis-aqua: #03897c;
$tennis-beige: #e5c898;
$tennis-red: #c60407;
