.top-bottom-padding {
  padding-top: 6px;
  padding-bottom: 6px;
  // margin-top: auto;
  margin-bottom: auto;
}

// ------------ show page --------
.grid-wrap {
  overflow-x: auto;
  // white-space: nowrap;
}

.box-width {
  // width: 85vw;
  width: 81rem;
}

.mobile-box-width {
  width: calc(70vw+40px);
}

.mobile-box-show-width {
  width: calc(min(1250px,140vw));
}

.grid-container {

  padding: 20px;

  #grid-lines>.row>.grid-columns {
    height: 5.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: 1px solid rgba(39,41,43,0.1);
    position: relative;
  }

  .first-col-lines>.col-12 {
    height: 5.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    // border: 1px solid rgba(39,41,43,0.1);
  }
}

.mobile-grid-container {

  padding: 5px;

  #grid-lines>.row>.grid-columns {
    height: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: 1px solid rgba(39,41,43,0.1);
    position: relative;
  }

  .first-col-lines>.col-12 {
    height: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    // border: 1px solid rgba(39,41,43,0.1);
  }
}


// ------------ index page --------
.boxes {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

@media print {
  .boxes {
    margin: 8px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }

}

@media only screen and (max-width: 1400px) {
  .boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .boxes {
    margin: 8px 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .boxes {
    margin: 8px 0;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}

.box-frame {
  background-color: $tennis-green;
  background: linear-gradient(180deg, $tennis-beige 0%, $tennis-green 100%);
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover {
    transform: scale(1.03);
    color: $tennis-blue;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  }
}

.click-cell {
  color: $gray;

  &:hover {
    transform: scale(1.1);
  }

}

.box-title {
  text-align: center;
}

.box-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.left-padding {
  // align list view/referee view headers with the corresponding data (compensate <ul> indentation)
  padding-left: 64px;
}
