.contact-wrap {
  padding: 25px calc(var(--bs-gutter-x) * 6) 5px;
  // top ; right and left ; bottom paddings

  .contact-field {
    // margin: $btn-margin;
    border-radius: 50px;
    border: black 1x solid;
    justify-content: center;
  }

  .contact-content {
    height: 300px;
    border-radius: 5px;
    border: black 1x solid;
  }

  .contact-align {
    width: 80%;
    display: flex;
  }

  .contact-space-between {
    justify-content: space-between;
  }
}

// Staff table utility classes
.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-gap-8 {
  gap: 8px;
}

@media only screen and (max-width: 990px) {
 .contact-wrap {
   padding: 25px calc(var(--bs-gutter-x) * 2) 5px;

   .contact-align {
    width: 100%;
    display:inline;
  }
  }
}

@media only screen and (max-width: 1200px) {
 .contact-wrap {
  //  padding: 25px calc(var(--bs-gutter-x) * 2) 5px;
   .contact-align {
    width: 100%;
  }
  }
}
