.contact-wrap {
  padding: 25px calc(var(--bs-gutter-x) * 6) 5px;
  // top ; right and left ; bottom paddings

  .contact-field {
    // margin: $btn-margin;
    border-radius: 5px;
    border: black 1x solid;
    justify-content: center;
  }

  .contact-content {
    height: 350px;
    border-radius: 5px;
    border: black 1x solid;
  }

  .contact-align {
    width: 75%;
    display: flex;
  }

  .contact-space-between {
    justify-content: space-between;
  }

  .contact-message {
    background: linear-gradient(180deg, $tennis-beige 0%, $tennis-green 100%);
    position: fixed;
    bottom: 50%; /* Place the button relative to the bottom of the page */
    right: 45%; /* Place the button 5px from the right */
    border: 1px solid $gray-600;
    padding: 20px;
    border-radius: 0.25rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    opacity: 1;
  }


 }
