// ----------- Many pages -----------
.container {
  margin-bottom: $btn-margin;
}

.sticky-header {
  position: sticky;
  top: $navbar-height;
  // background-color: $tennis-green;
  background-color: $tennis-beige;
  opacity: 1;
  z-index: 1;
  border-radius: 0.25rem;
}

.box-scroller {
  // size of the scrolling rules box
  overflow: scroll;
  height:74vh;
}

.same-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .container {
//   width: 85%;
// }

.frame-shape {
  // background-color: $tennis-green;
  // background: rgb(2,0,36);
  background: linear-gradient(180deg, $tennis-beige 0%, $tennis-green 100%);
  margin: 0 auto;
  // border: 2px solid #8A8A8A;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: justify;
}

.frame-padding {
  padding: 15px calc(var(--bs-gutter-x) * 2);
}

.home-wrap {
  padding-bottom: 15px;
  padding-left: calc(var(--bs-gutter-x) * 6);
  padding-right: calc(var(--bs-gutter-x) * 6);
}

@media only screen and (max-width: 768px) {
  .home-wrap {
    // font-size: 2.5vw;
    padding-left: 50px;
    padding-right: 50px;
  }
  .frame-padding {
    padding: 15px 0px;
  }
}

.photo-wrap {
  border-radius: 0.2rem;
  height: 20rem;
  // width: 90rem;
  background-position: center;
  background-image: url("social_tennis.jpg");
  background-size: cover;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

  // &:hover {
  //   box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  // }
}

@media only screen and (max-width: 768px) {
  .photo-wrap {
      display: none;
    }
}

.stick-image-front {
  position: sticky;
  top: $navbar-height;
}

.image-front {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  .image-front-text {
    color: white;
    // font-size: 30px;
    font-size: 2.6vw;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 1200px) {
  .image-front {
      .image-front-text {
        font-size: 3vw;
        }
      }
}

@media only screen and (max-width: 768px) {
  .image-front {
      .image-front-text {
        font-size: 4vw;
        }
      }
}

// ----------- UserBoxScores/index and Boxes/show_referee -----------
.player-name {
  position: relative;

  &:hover {
    color: $orange-light;
  }
}

.line-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
