// ----------- Most pages -----------
.container {
  margin-bottom: $btn-margin;
}

.box-scroller {
  overflow: scroll;
  max-height: calc(100vh - 200px);
}

.one-liner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-color-shape {
  // background-color: $tennis-green;
  // background: rgb(2,0,36);
  background: linear-gradient(180deg, $tennis-beige 0%, $tennis-green 100%);
  // border: 2px solid #8A8A8A;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: justify;
}

.frame-scroller-wrap {
  overflow: scroll;
  position: sticky;
}

.image-front {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  .image-front-text {
    color: white;
    font-size: 2.6vw;
    font-weight: bolder;
  }
}

.title {
  display: flex;
  justify-content: center;
}

.frame-margin-rl {
  max-width: 680px;
  min-width: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
}

.frame-padding {
  padding: 15px calc(var(--bs-gutter-x) * 1);
}

.frame-padding-no-top {
  padding-bottom: 15px;
  padding-left: calc(var(--bs-gutter-x) * 1);
  padding-right: calc(var(--bs-gutter-x) * 1);
}

@media only screen and (max-width: 1200px) {
  // .frame-padding {
  //   padding: 15px calc(var(--bs-gutter-x) * 1);
  // }

  // .frame-padding-no-top {
  //   padding-left: calc(var(--bs-gutter-x) * 1);
  //   padding-right: calc(var(--bs-gutter-x) * 1);
  // }

  .image-front {
      .image-front-text {
        font-size: 3vw;
        }
      }
}

@media only screen and (max-width: 768px) {
  .frame-padding-no-top {
    padding-left: 75px;
    padding-right: 75px;
  }

  .image-front {
      .image-front-text {
        font-size: 4vw;
        }
      }
}

// ----------- UserBoxScores/index and Boxes/show_referee -----------
.player-to-orange {
  position: relative;

  &:hover {
    color: $orange-light;
  }
}

.line-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
