// ----------- Most pages -----------
.container {
  margin-bottom: $btn-margin;
  // margin: $btn-margin 10px;
}

.box-scroller {
  overflow: scroll;
  max-height: calc(100vh - 200px);
}

.one-liner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-color-shape {
  background: linear-gradient(180deg, $tennis-beige 0%, $tennis-green 100%);
  border-radius: 0.25rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: justify;
  margin: 0 auto;
}

.frame-color-shape-contact {
  background: linear-gradient(180deg, $tennis-beige 0%, $tennis-green 100%);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: justify;
  margin: 0 auto;
}

.frame-scroller-wrap {
  overflow: scroll;
  position: sticky;
}

.image-front {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  .image-front-text {
    color: white;
    font-size: 2.6vw;
    font-weight: bolder;
  }
}

.title {
  display: flex;
  justify-content: center;
}

.frame-margin-rl {
  max-width: 700px;
  min-width: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
}

.frame-padding {
  // padding: 15px calc(var(--bs-gutter-x) * 1);
  padding: 15px 25px;
}

.frame-no-margin-rl{
  margin-left: 0;
  margin-right: 0;
}

.frame-padding-no-top {
  padding-bottom: 15px;
  // padding-left: calc(var(--bs-gutter-x) * 1);
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width: 1200px) {
  .image-front {
      .image-front-text {
        font-size: 3vw;
        }
      }
}

@media only screen and (max-width: 768px) {
  .image-front {
      .image-front-text {
        font-size: 4vw;
        }
      }
}

// ----------- UserBoxScores/index and Boxes/show -----------
.hovered-player {
  position: relative;

  &:hover {
    color: $orange-light;
  }
}

.line-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

// ------------------------ Home page ------------------------
#steps li:first-of-type {
  list-style-type: "1.  🎾 ";
}

#steps li:nth-of-type(2) {
  list-style-type: "2.  💻 "
}
#steps li:nth-of-type(3) {
  list-style-type: "3.  🏆 "
}
#steps li:nth-of-type(4) {
  list-style-type: "4.  🎭 "
}
