// ------------ index page --------
:root {
  --top-header: 0px;  // this value WAS managed from JS toggle_controller to handle header y position; not used anymore
}

.stick-rules {
  position: sticky;
  top: $navbar-height;
  opacity: 1;
  z-index: 1;
  background-color: $tennis-beige;
  border-radius: 2px;
  text-align: center;
}

// .league-table-headers {
//   position: sticky;
//   top: 0;
//   background-color: $tennis-beige;
//   opacity: 1;
//   z-index: 1;
//   border-radius: 0.25rem;
// }

.header-ghost {
  margin: 0 0 5px; /* top | left and right | bottom */
  // border: 1px solid #4A4A4A;
  padding: 6px 0px;
  color: $tennis-blue;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    color: #7f7f7f;
  }
}

.no-padding-no-border {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}

.table-width {
  width: 81rem;
}

.mobile-table-width {
  width: 24rem;
}

.photo-wrap {
  border-radius: 0.2rem;
  height: 20rem;
  // width: 90rem;
  background-position: center;
  background-image: url("social_tennis.jpg");
  background-size: cover;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 768px) {
  .photo-wrap {
      display: none;
    }
}

@media print {
  .frame-color-shape {
    background: none;
    box-shadow: none;
  }
}
