<div class="header-flex">
  <div><h3><%= "Box #{box.box_number} - #{view_type} view" %></h3></div>
  <div>
    <% if @this_is_my_box %>
      <h4><%= render "shared/fullname", user: current_user %></h4>
    <% end %>
  </div>
  <div>
    <% if box == @my_current_box%>
      my current box
    <% end %>
  </div>
</div>
