<h3>
  <%= "Box #{box.box_number}" %>
  <% if @this_is_my_box %>
    <%= render "shared/fullname", user: current_user %>
  <% end %>
  <%# "(round #{box.round.start_date.strftime("%d %b")} - #{box.round.end_date.strftime("%d %b")})" %>
  <%= render "round", round: box.round %>
  <% if box == @my_current_box%>
    my current box
  <% end %>
</h3>
