<h3>
  <%= "View box #{box.box_number}" %>
  <% if @this_is_my_box %>
    <%= render "shared/fullname", user: current_user %>
  <% end %>
</h3>
  <%= render "round", round: box.round %>
  <% if box == @my_current_box%>
    my current box
  <% end %>
