<%# no match played (table view) %>
<% if (@box == @my_current_box && (current_user == column_player || current_user == line_player)) || current_user.role != "player" %>
  <div class="click-cell"><br><%= t '.enter_score' %>
    <%# click on opponent no-match line to enter a new match score %>
    <%= link_to '', new_match_path(player: line_player.id, opponent: column_player.id, round_id: @round.id, page_from: box_path), class: "box-link" %>
  </div>
<% else %>
  <span style="color:grey"><br><%= t '.not_played' %></span>
<% end %>
