<%# partial: display club name %>

  <div class=<%=@is_mobile ? "" : "one-liner"%>>
    <div><%= round.club.name %></div>
    <div style="width: 20px"></div>
    <div class="small-font"><%= add_text %></div>
  </div>
