<!-- partial: display club name and round start date / end date, on one line -->
<div class="header-flex">
  <div><h4><%= round.club.name %></h4></div>
  <div><%= render "shared/round", round: round %></div>
</div>
