<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    LeagueBox ©
    <%# <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>

  <div class="footer-links">
    <%= link_to t('.sitemap_lnk'), sitemap_path, class: "nav-link" %>
    <%= link_to t('.contact_us_lnk'), new_contact_path, class: "nav-link" %>
  </div>

  <div class="footer-links">
    <div class="footer-brand"><%= image_tag "tennis_racket.png" %>
      LeagueBox ©
    </div>
  </div>
</div>
