<!-- inlay image from the presentation view pages (home, rules, staff and sitemap) and contact (sent) -->
<div class="<%=sticky ? 'image-front stick-image-front' : 'image-front' %>"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'social_tennis.jpg' %>')">
  <div class="font-black image-front-text"><%= @club.name.capitalize %> League Box</div>
</div><br>
