<!-- inlay image from the presentation view pages (home, rules, staff and sitemap) and contact (sent) -->
<div class="image-home">
  <div class="font-black image-home-text"><h1><b><%= @club == @sample_club ? "" : @club.name.capitalize %> LeagueBox</b></h1></div>
</div><br>
