<div class="one-line"  style="width:40%">
  <div style="width:10%"></div>
  <div style="width:40%"><%= user_match_score.user.last_name %></div>
  <div><%= "#{user_match_score.score_set1}" %></div>
  <div><%= "#{user_match_score.score_set2}" %></div>
  <div>
    <% if tiebreak > 0 %>
      <%= "#{user_match_score.score_tiebreak}" %>
    <% end %>
  </div>
</div>
