<!-- partial : rules section 2 (Round dates)-->
<% if current_user == @admin %>
  <%# Admin view: display rounds for each club %>
  <% clubs = Club.all.reject { |club| club == @sample_club } %>
  <% clubs.each do |club| %>
    <%# Club name as header %>
    <h5 class="color-tennis-blue" style="margin-top: 30px; margin-bottom: 15px; padding-bottom: 5px;">
      <%= club.name %>
    </h5>
    <%= render "pages/rounds_by_league", rounds: club.rounds %>
  <% end %>
<% else %>
  <%# Non-admin view: display rounds for current club only %>
  <%= render "pages/rounds_by_league", rounds: @rounds %>
<% end %>
