<div class="container">
  <br><h3>Tournament overview</h3>
  <div class="form-wrap">
    <p>Box Leagues are designed to enable members of Holland Park Ltc Club to play competitive
    tennis on a regular basis. Box leagues are also an ideal way to meet other members and build a
    broader network of players for social games.
    However, box leagues only work if players are committed to getting matches played. Members
    who enter the leagues must make every effort to complete their fixture programme. If, for
    whatever reason, players are unable to fulfil fixtures they should notify opponents and referee
    promptly.
    Players should notify their opponents to block out the dates / times they are not available to play
    matches as well as advertise the dates and times they would like to play matches. This simple
    application of good time management principles will make it easier to schedule your matches.
    </p>
  </div>
  <br>
  <div class = "buttons-wrap">
    <%= link_to "Home", root_path, class: "btn button-ghost" %>
  </div>
</div>
