<% if !@is_mobile %>
  <div class="dont-print"><%= render "shared/image_front" %></div>
<% else %>
  <br>
<% end %>
<div class="<%= class_names("container": !@is_mobile) %>">
  <div class="frame-color-shape frame-padding">
    <%= render "shared/staff", from:"pages" %>
  </div><br>
  <div class = "buttons-wrap">
    <%= link_to t(".ok"), boxes_path, class: "btn buttons-shape btn-aqua" %>
  </div>
</div>
