.button-flat {
  margin: 0 auto;
  color: white;
  padding: 6px 24px;
  border-radius: 15px;
  background: #4CAF50;
  transition: background 0.3s ease;
}

.button-flat:hover {
  background: #3e8e41;
  color: white;
}

.button-ghost {
  margin: 0 auto;
  color: #4A4A4A;
  // border: 1px solid #4A4A4A;
  padding: 6px 24px;
  // border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.button-ghost:hover {
  opacity: 1;
}

.button-purple {
  margin: 0 auto;
  color: white;
  padding: 6px 24px;
  border-radius: 15px;
  background: rgb(135, 18, 145);
  transition: background 0.3s ease;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.button-purple:hover {
  background: rgb(145, 91, 150);
  color: white;
}

