.frame-color-shape {
  // background-color: $tennis-green;
  // background: rgb(2,0,36);
  background: linear-gradient(180deg, $tennis-beige 0%, $tennis-green 100%);
  margin: 0 auto;
  // border: 2px solid #8A8A8A;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: justify;
}

.chatroom-frame {
  // background: white;
  margin-top: 9px;
  height: calc(97vh - 265px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-600;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
