.font-bold {
  font-weight: bold;
}

.small-font {
  font-size: smaller;
}

.color-tennis-blue {
  color: $tennis-blue;
}


.text-size {

  font-size: 1.1vw;

  h3 {
    font-size: 1.5vw;
  }

  h4 {
    font-size: 1.4vw;
  }

  h5 {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1400px) {
  .text-size {
    font-size: 1.2vw;

    h3 {
      font-size: 1.7vw;
    }

    h4 {
      font-size: 1.55vw;
    }

    h5 {
      font-size: 1.6vw;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .text-size {
    font-size: 1vw;

    h3 {
      font-size: 1.8vw;
    }

    h4 {
      font-size: 1.75vw;
    }

    h5 {
      font-size: 1.7vw;
    }
  }
}

@media only screen and (max-width: 768px) {
  .text-size {
    font-size: 1.5vw;
    padding-left: 50px;
    padding-right: 50px;

    h3 {
      font-size: 2.6vw;
    }

    h4 {
      font-size: 1.75vw;
    }

    h5 {
    font-size: 2.4vw;
     }
  }
}
