.bold-font {
  font-weight: bold;
}

.small-font {
  font-size: smaller;
}

.color-tennis-blue {
  color: $tennis-blue;
}

.color-tennis-red {
  color: $tennis-red;
}

.color-tennis-aqua {
  color: $tennis-aqua;
}

.color-orange {
  color: $orange;
}

.color-orange-light {
  color: $orange-light;
}

.color-grey {
  color: grey;
}

.color-black {
  color: #505050;
}

.color-green {
  color: green;
}

.text-size {
  font-size: calc(0.9rem + 0.1vw);
  // font-size: 1.1vw;

  p {
    font-size: calc(0.9rem + 0.1vw);
    // font-size: 1.1vw;
  }

  h3 {
      font-size: calc(1.3rem + 0.5vw);
      // font-size: 1.7vw;
      font-weight: bold;
    }

  h4 {
    font-size: calc(1.275rem + 0.3vw);
    // font-size: 1.4vw;
  }

  h5 {
    font-size: 1.25rem;
    // font-size: 1.4vw;
  }
}

.mobile-text-size {
  font-size: 2vw;
}

