html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

// .footer-wrap {
//   flex-shrink: 0;
// }

.footer {
  //background: #F4F4F4;
  background: linear-gradient(180deg, $tennis-orange 0%, $tennis-beige 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
}

//.popover {
//  background: $yellow;
// }

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  // font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-brand img {
  width: $footer-height - 10;
}
