.navbar-sticky {
  justify-content: space-between;
  background: linear-gradient(180deg, $tennis-beige 0%, $tennis-orange 100%);
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 10;
  right: 100%;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.time-color {
  color: var(--bs-nav-link-color);
}

.nav-link {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

// horizontal display of navbar icons in collapsed mode
.navbar-out-of-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// @media all and (max-width: 992px) {
//   .navbar-out-of-collapse {
//     width: 200px;
//   }
// }

.dropdown-item {
  opacity: 0.8;

  &:hover {
    opacity: 1;
    background: $tennis-orange;
  }
}

// Display navbar icons horizontally on narrow screens and hide toggle
@media all and (max-width: 991.98px) {
  .navbar-toggler {
    display: none !important;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-collapse .navbar-nav {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-end;
  }

  .navbar-collapse .navbar-nav li {
    display: flex;
    align-items: center;
  }

  // Ensure dropdown menus are positioned correctly on narrow screens
  .navbar .nav-item.dropdown {
    position: relative;
  }

  .navbar .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    z-index: 1000;
    background: $tennis-beige;
    border-radius: $frame-border-radius;
  }

  // Ensure Bootstrap's show class works on narrow screens
  .navbar .dropdown-menu.show {
    display: block !important;
  }
}

// to allow drop down menu on hover
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
    background: $tennis-beige;
    border-radius: $frame-border-radius;
  }
  .navbar .nav-item:hover .dropdown-menu,
  .navbar .nav-item.dropdown:hover .dropdown-menu,
  .navbar .nav-item .dropdown-menu:hover {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
