.navbar-league-box {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 1;
}

.navbar-league-box .navbar-collapse {
  flex-grow: 0;
}

.navbar-league-box .navbar-brand img {
  width: 40px;
}
