.do-print {
  // elements that appear only when printing
  opacity: 0;
}

@media print {
  a[href]::after {
    content: none !important;
  }
  :link[href]:after {
    content: none !important;
  }

  .dont-print, .navbar-league-box, .footer-wrap {
    display: none;
  }

  .do-print {
    opacity: 0.6;
  }

  .expand-to-print, .chatroom .messages {
    display: block;
    width: auto;
    height: auto;
    overflow: visible;
    // page-break-inside: avoid;  // has no effect
    font-size: smaller;
  }

  @page {
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    padding-top: 72px;
    padding-bottom: 72px ;
  }


}
