.will-print {
  // css on elements which appear only when printing
  opacity: 0;
  width: 0px;
  height: 0;
}

@media print {
  .frame-color-shape {
    background: none;
    box-shadow: none;
  }

  a[href]::after {
    content: none !important;
  }
  :link[href]:after {
    content: none !important;
  }

  .dont-print, .navbar-sticky, .footer-wrap {
    display: none;
  }

  .will-print {
    opacity: 0.9;
    width: auto;
  }

  .box-frame {
    box-shadow: none;
  }
  .print-scroller {
    max-height: auto !important;
    height: auto;
    overflow: visible !important;
  }

  .print-boxes-league {
    display: flex;
  }

  .print-all-content, .chatroom .messages {
    justify-content: space-between;
    // max-height: auto !important;
    width: auto;
    // height: auto;
    position: relative;
    overflow: visible !important;
  }

  @page {
    margin: 0px;
  }
  
  body {
    padding-top: 72px;
    padding-bottom: 72px ;
  }
}
