.will-print {
  // elements which appear only when printing
  opacity: 0;
}

@media print {
  a[href]::after {
    content: none !important;
  }
  :link[href]:after {
    content: none !important;
  }

  .dont-print, .navbar-sticky, .footer-wrap {
    display: none;
  }

  .will-print {
    opacity: 0.9;
  }

  .print-scroller {
    max-height: auto !important;
    height: auto;
    overflow: visible !important;
  }

  .print-boxes-league {
    display: flex;
  }

  .print-all-content, .chatroom .messages {
    justify-content: space-between;
    // max-height: auto !important;
    width: auto;
    // height: auto;
    position: relative;
    overflow: visible !important;

    // page-break-inside: avoid;  // has no effect
    // font-size: smaller;
  }

  @page {
    // margin-top: 0;
    // margin-bottom: 0;
    margin: 0px;
  }
  body {
    padding-top: 72px;
    padding-bottom: 72px ;
  }
}
